<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  
  <add name="core" connectionString="user id=sql_srv;password=VM0069_sc_0Me_SQl;Data Source=(local);Database=SiteCoreSitecore_Core"/>
  <add name="master" connectionString="user id=sql_srv;password=VM0069_sc_0Me_SQl;Data Source=(local);Database=SiteCoreSitecore_Master"/>
  <add name="web" connectionString="user id=sql_srv;password=VM0069_sc_0Me_SQl;Data Source=(local);Database=SiteCoreSitecore_Web"/>
  <add name="reporting" connectionString="user id=sql_srv;password=VM0069_sc_0Me_SQl;Data Source=(local);Database=SiteCoreSitecore_Analytics"/>
-->
  <add name="core" connectionString="Data Source=(local);Database=SiteCoreSitecore_Core;trusted_connection=Yes"/>
  <add name="master" connectionString="Data Source=(local);Database=SiteCoreSitecore_Master;trusted_connection=Yes"/>
  <add name="web" connectionString="Data Source=(local);Database=SiteCoreSitecore_Web;trusted_connection=Yes"/>  

  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics"/>
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live"/>
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history"/>
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact"/>
  <add name="reporting" connectionString="Data Source=(local);Database=SiteCoreSitecore_Analytics;trusted_connection=Yes"/>
  <add name="reporting.apikey" connectionString=""/>
</connectionStrings>
